%h1#title Title goes here!
%div{ "ng-app" => "broadcastorApp", "ng-controller" => "ChannelCtrl"}

  .row.post-form
    .small-10.columns
      %textarea{:rows => 4, "ng-model" => 'postBody'}
    .small-2.columns
      %button{:type => 'button', "ng-click" => 'post()', "ng-disabled" => '!postBody'}
        Publicar

  .small-8.small-offset-2
    %button.expand{ "ng-click" => 'update()', "ng-show" => 'newPosts'}
      Actualizar publicaciones ({{ newPosts.length }} nueva{{ newPosts.length | pluralize }})

  %section.posts
    %article.post{ "ng-repeat" => "post in posts"}
      %blockquote
        %p
          {{ post.body }}
      %footer
        {{ post.timestamp | timeAgo }}

- content_for :js do
  = javascript_tag "controllers.js"
  :javascript
    var channel = JSON.parse('#{channel}');
    $("#title").html(channel.name);
