%h1#title Title goes here!
%div{ "ng-app" => "broadcastorApp", "ng-controller" => "ChannelCtrl"}
  %button.js-update{ "ng-click" => 'update()', "ng-show" => "newPosts"}
    update ({{ newPosts.length }})!
  %p Total number of posts: {{ posts.length }}
  %ul
    %li{ "ng-repeat" => "post in posts"}
      {{ post.body }}
      %p {{ post.timestamp | timeAgo }}

- content_for :js do
  = javascript_tag "controllers.js"
  :javascript
    var channel = JSON.parse('#{channel}');
    $("#title").html(channel.name)