%h1#title Title goes here!
%div{ "ng-app" => "broadcastorApp", "ng-controller" => "ChannelCtrl"}

  = haml :"channels/_publish" if current_user

  .small-8.small-offset-2
    %button.expand{ "ng-click" => 'update()', "ng-show" => 'newPosts'}
      Actualizar publicaciones ({{ newPosts.length }} nueva{{ newPosts.length | pluralize }})

  %section.posts
    %article.post{ "ng-repeat" => "post in posts"}
      %blockquote
        %p
          {{ post.body }}
      %footer
        {{ post.timestamp | timeAgo }}

- content_for :js do
  = javascript_tag "controllers.js"
  :javascript
    var channel = JSON.parse('#{channel}');
    $("#title").html(channel.name);
