body {
  background-color: #dddddd;
}

.post {
  background-color: #fafafa;
  margin: 1em 0;
  padding: 1em;

  blockquote {
    border-left: 5px solid #ddd;
    line-height: 2.6;
    padding-top: 0;

    p {
      color: #333;
    }
  }

  footer {
    text-align: right;
    color: #999;
  }
}

textarea {
  resize: none;
}