.row
  .small-6.small-centered.columns
    %form{ action: sessions_path, method: "post" }
      .row
        .small-12.columns
          %label{ for: "username" }
            Username
            %input{ type: "text", name: "username", value: params[:username], required: true, autofocus: true }
      .row
        .small-12.columns
          %label{ for: "password" }
            Password
            %input{ type: "password", name: "password", required: true }
      .row
        .small-12.columns
          %button.button.expand{ type: "submit" } Login